* {
  box-sizing: border-box;
}

:root {
  scroll-behavior: smooth;
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  align-content: center;
  min-width: 320px;
  height: calc(100vh - 40px);
}

#root {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 1rem;
}

a svg, a img,
button svg, button img {
  display: inline-block;
  vertical-align: middle;
}

button svg, button img {
  margin: 0 6px;
}

input[type=number] {
  text-align: right;
}

/* ==============================
        APP
 */

#root {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.App {
  flex: 1 0 auto;
}

.App h1 {
  text-align: center;
  margin-top: 0;
}

.App-footer {
  flex-shrink: 0;
  margin-top: 24px;
  text-align: center;
}

.App-footer p {
  margin: 12px auto;
}

/* ==============================
        MESSAGE NOTES
 */

div.message {
  margin-bottom: 15px;
  padding: 12px;
  border-left: 6px solid #8b8b8b;
}

div.message.danger {
  background-color: #ffdddd;
  border-color: #f44336;
}
div.message.success {
  background-color: #ddffdd;
  border-color: #04AA6D;
}
div.message.info {
  background-color: #e7f3fe;
  border-color: #2196F3;
}
div.message.warning {
  background-color: #ffffcc;
  border-color: #ffeb3b;
}

/* ==============================
        FORMS
 */

.form-input-container {
  --form-gap: 12px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: var(--form-gap);
  margin-bottom: calc(var(--form-gap) * 2);
}

.form-input-container .form-input {
  position: relative;
  margin-bottom: 0;
}

.form-input-container button {
  margin: 0;
}

.form-input.inline {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: center;
  gap: 16px;
  width: auto;
}

.form-input label {
  position: relative;
  display: block;
}

.form-input.inline label {
  display: inline-block;
  white-space: nowrap;
  min-width: 60px;
  margin-bottom: 0;
}

.form-input input,
.form-input textarea,
.form-input select {
  margin: 0;
  width: 100%;
}

.form-input.inline input,
.form-input.inline textarea,
.form-input.inline select {
  width: 100%;
}

.form-input-container > .form-input,
.form-input-container > button {
  flex: 1;
}

.form-input-container > .col-1\/1 {
  flex-basis: 100%;
}
.form-input-container > .col-1\/2 {
  flex-basis: calc(50% - 6px);
}
.form-input-container > .col-1\/3 {
  flex-basis: calc(33.333% - 8px);
}
.form-input-container > .col-2\/3 {
  flex-basis: calc(66.666% - 8px);
}
.form-input-container > .col-1\/4 {
  flex-basis: calc(25% - 10px);
}
.form-input-container > .col-2\/4 {
  flex-basis: calc(50% - 6px);
}
.form-input-container > .col-3\/4 {
  flex-basis: calc(75% - 10px);
}

.form-input.required {
  --required-mark: "(*)";
}

.form-input.required label::after {
  content: var(--required-mark);
  display: inline-block;
  padding-left: 10px;
  color: #a00;
  font-style: italic;
  font-weight: 600;
  position: absolute;
  right: 0;
}

/* ==============================
        CARDS
 */

.card {
  --card-border-radius: 6px;
  --card-color: var(--focus);
  border: 1px dotted var(--card-color);
  padding: 10px;
  border-radius: var(--card-border-radius);
  box-shadow: 1px 1px 6px var(--card-color);
  display: flex;
  flex-direction: column-reverse;
  place-items: center;
  position: relative;
  min-height: var(--card-height, 0);
}

.card > * {
  margin: 0;
  padding: 0;
}

.card .card-title {
  width: 100%;
  font-weight: bold;
  text-align: center;
  position: relative;
  margin: 10px 0 30px;
  min-height: var(--card-title-height, 0);
  font-size: 1.1em;

  border-top: dotted var(--card-color);
  border-top-width: 2px;
  display: grid;
  align-items: center;
}

.card > p {
  order: -1;
  position: absolute;
  width: 50%;
  text-align: center;
  right: 0;
}

.card > p + p {
  left: 0;
}

.card .card-img {
  border-radius: var(--card-border-radius);
  max-height: var(--card-image-height, 300px);
  width: 100%;
}

.omdb-search-results {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-bottom: 12px;
  padding-top: 12px;
  gap: 12px;
  --card-height: 425px;
  --card-title-height: 63px;
  --card-image-height: 300px;
}

.search-results-bar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
}

.search-results-bar > .controls {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.pager-count,
.pager-total {
  font-weight: 700;
}

.omdb-search-results .sort-by,
.omdb-search-results .sort-dir {
  margin-bottom: 0;
  min-width: 80px;
}

.omdb-search-results .sort-by {
  border-right-width: 0;
  border-radius: 6px 0 0 6px;
}

.omdb-search-results .sort-by + .sort-dir {
  margin-left: calc(-6px * 2);
  border-left-width: 0;
  border-radius: 0 6px 6px 0;
}

.omdb-search-results .sort-by + .sort-dir label {
  display: none;
}

@media (min-width: 470px) {
  .search-results-bar > .pager {
    margin-left: 10px;
  }
  .search-results-bar > .controls {
    gap: 6px;
  }
  .omdb-search-results .form-input.sort-by,
  .omdb-search-results .form-input.sort-dir {
    min-width: calc(50% - 6px);
  }
  .omdb-search-results .form-input.sort-dir {
    min-width: auto;
  }
}

@media (min-width: 700px) {
  .omdb-search-results .form-input.sort-by,
  .omdb-search-results .form-input.sort-dir {
    min-width: calc(33.333% - 8px);
  }
  .omdb-search-results .form-input.sort-dir {
    min-width: auto;
  }
}

@media (min-width: 540px) {
  .omdb-search-form .omdb-search-title {
    flex-basis: auto;
  }
  .omdb-search-form .omdb-search-year {
    flex: 0 0 130px;
  }
}

@media (min-width: 680px) {
  .omdb-search-form .omdb-search-type {
    flex: 0 0 140px;
  }
}


/* ==============================
        UTILITIES
 */

/* Positioning */

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.fixed {
  position: fixed;
}

.sticky {
  position: sticky;
}

.inset-0 {
  inset: 0;
}

/* Text */

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.text-justify {
  text-align: justify;
}

/* Layout */

ul.no-bullets,
ol.no-bullets {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.grid {
  --gap: 24px;
  display: grid;
  gap: var(--gap);
}

.grid.fluid-cols {
  --fluid-min-width: 200px;
  grid-template-columns: repeat(auto-fill, minmax(var(--fluid-min-width, 200px), 1fr));
}

/* ==============================
        ANIMATIONS
 */

.animation-spin {
  -webkit-animation: spin 0.5s infinite linear;
          animation: spin 0.5s infinite linear;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
            transform: rotate(359deg);
  }
}
